.card {
    position: relative;
    background-color: $alt;

    background-size: cover;
    border-radius: 6px;
    margin-bottom: 2rem;

    &__inner {
        padding: 3rem;

        @include screen(xs) {
        }
    }
    &__title {
        /*opacity: .95;*/
    }
    &__description {
        line-height: 1.4;
        margin-bottom: 30px;
        min-height: 40px;
        max-width: 300px;
        /*opacity: .9;*/
    }

    &__spy-icon {
        position: absolute;
        font-size: 5rem;
        z-index: -1;
        transition: all .2s ease-out;
        top: -3.5rem;
        left: 3rem;

        &--1 {
            left: 3rem;
        }
        &--2 {
            left: 9rem;
            transition-delay: 80ms !important;
        }
        &--3 {
            left: 15rem;
            transition-delay: 160ms !important;
        }
        &--4 {
            left: 21rem;
            transition-delay: 240ms !important;
        }
        &--5 {
            left: 27rem;
            transition-delay: 320ms !important;
        }
    }

    &--style2 {
        padding-bottom: 6rem;
    }

    &:hover {
        .card__spy-icon {
            top: -5.9rem;
        }
    }
}
