.icon {
    /*height: 1em;
    width: 1em;
    font-size: .9em;
    line-height: 10;
    display: inline-block;*/
    /*margin-top: -.4rem;*/
    /*margin-top: -.3rem;*/

    /*vertical-align: middle;*/
    color: inherit;

    &--filled {
        /*fill: #f9f9f9;*/
        color: #899cc07d;
    }
    &--filled-brand {
        fill: $brand-color;
    }
    &--filled-primary {
        fill: $primary-color;
    }
}

.gradient-icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    border-radius: 50%;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}
