.nav {
    display: inline-block;
    vertical-align: middle;
    height: $main-nav-height;
    color: $nav-link-color;

    &--shift-left {
        margin-right: 50px;
    }
    &--right {
        float: right;
    }

    &__menu {
        display: inline-block;
        margin-bottom: 0;
        margin: 0;

        &--light a {
            color: #FFF !important;
        }
        &--vertical {
            width: 100%;
            padding-top: 3rem;

            .nav__item {
                display: block;
                margin: 0 0 1rem;
                text-align: left;
                line-height: 2.2;

                a {
                    padding: 0px 20px 0;
                }

                &--header {
                    padding: 0px 20px 0;
                    font-weight: 600;
                    opacity: .5;
                    text-transform: uppercase;
                    line-height: 0;
                    font-size: $font-size--sm;
                    margin-bottom: 30px;
                }
            }

            .nav__icon {
                margin-right: 10px;
            }

            .divider {
                width: 100%;
                height: 2px;
                background: #f5f5f5;
                margin-top: 4rem;
                margin-bottom: 4rem;
            }
        }
    }

    &__item {
        position: relative;
        display: inline-block;
        text-align: center;
        line-height: $main-nav-height;

        margin-left: 1rem;
        margin-right: 1rem;

        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }

        a {
            display: block;
            color: inherit;
            cursor: pointer;
            font-weight: 600;
            opacity: .9;
            position: relative;

            &:hover {
                opacity: 1;
            }

            svg {
                margin-right: 5px;
            }
        }

        &.active {
            a {
                opacity: 1;
                color: $brand-color;
            }
            .icon {
                color: inherit;
                opacity: 1;
            }
            &::after {
                display: none;
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 1px;
                width: 100%;
                background: $brand-color;
            }
        }

        .image {
            box-shadow: 0 0 2px #000;
            margin-right: 5px;
            background-color: $alt;
        }

        &--has-dropdown {
            padding-right: 15px;
            cursor: pointer;
            position: relative;

            &::before {
                content: "";
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #555;
                cursor: pointer;
                display: inline-block;
                position: absolute;
                right: 0px;
                top: calc(50% - 2px);
            }

            &:hover .nav__dropdown {
                visibility: visible;
                opacity: 1;
                top: 100%;
                background: rgba(255, 255, 255, 1);
            }
        }
    }

    &__dropdown {
        position: absolute;
        top: calc(100% + 15px);
        left: 0px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
        border-radius: 4px;
        background: rgba(255, 255, 255, .9);
        display: inline-block;
        padding: 10px 0 10px;
        visibility: hidden;
        opacity: 0;
        transition: ease-in-out .15s all;
        z-index: 1000;

        &.open {
            visibility: visible;
        }

        > li {
            text-align: left;
            white-space: wrap;
            display: block;
            white-space: nowrap;

            a {
                padding: 0px 16px;
                display: block;
                color: #222 !important;
                font-weight: 500;
                line-height: 1.8;

                svg {
                    margin-right: 5px;
                }

                &:hover {
                    background: #EEE;
                }
            }
        }
        &__icon {
            display: inline-flex;
            margin-right: 10px;
        }
    }

    &__icon {
        margin-right: 5px;
    }

    &__button {
        a span {
            padding: 6px 12px;
            cursor: pointer;
            border-radius: $basic-border-radius;
        }

        &--brand {
            a span {
                background-color: $brand-color;
                color: white;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px 0px;
            }
        }
        &--default {
            a span {
                background-color: #555555;
                color: #FFF !important;
                opacity: 1;
            }
        }
        &--primary {
            a span {
                background-color: $primary-color !important;
                color: #ffffff !important;
            }
        }
    }
}

.nav-tabs {
    margin: 0;

    > li {
        margin: 0 8px 0;

        a {
            display: block;
            padding: 10px 0 10px;
        }

        &.active {
            a {
                border-bottom: solid 1px;
                color: $brand-color;
                font-weight: 600;
            }
        }
    }
    .icon {
        margin-right: 5px;
        opacity: .8;
    }
}
.tab-content {
    box-shadow: inset 0 9px 10px -9px rgba(0,0,0, 0.1);
    padding: 3rem 2rem 3rem;
    /*background: rgba(249, 249, 249, .5);*/
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}
