@import '../../vendor/bootstrap';

/* Custom */
@media only screen and (min-width : 768px) {
    .is-table-row, .row--table {
        display: table;
    }
    .is-table-row [class*="col-"], .row--table [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
}
.flex {
    display: flex;
}

.inner-section {
    padding: $section-padding-sm 0 $section-padding-sm;

    &--lg {
        padding: $section-padding-lg 0 $section-padding-lg;
    }
}

.container--xs-block {
    @include screen('xs') {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        /*background-color: $alt;*/
        /*margin-top: $section-padding-sm;*/

        .wrap {
            padding-left: 0;
            padding-right: 0;
        }
        .inner-section {
            /*padding-top: 30px;*/
            /*padding-bottom: 0;*/
        }
    }
}

.scrolling-wrapper {
    @include screen('xs') {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;

        width: 100% !important;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            display: none;
        }

        &__item {
            margin: 0rem 2rem 0 0 !important;
            padding: 0;

            &:nth-of-type(1) {
                margin-left: 30px !important;
            }
        }
    }
}
