.page {
    background-color: #FFF;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;

    &--alt {
        background-color: $alt;
    }

    &--centered {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;

        @include screen(sm) {
            display: block;
        }
    }
}

@media (min-width: 1200px) {
    .page--mid .container {
        padding-left: 52px;
        padding-right: 52px;
    }
}
